
<h2><%= I18n.t('title')  %></h2>
<%= button_to "Update data", { action: 'update_data' }, { class: 'btn btn-primary' } %>

<br>
<ul class="nav nav-tabs" role="tablist">
  <% @repositories_keys.each_with_index do |rep_lang, index| %>
    <li class="nav-item">
      <a class="nav-link <%= index == 0 ? 'active' : '' %>" id="<%= rep_lang %>l-tab" href="#<%= rep_lang  %>-lang" data-toggle="tab"><%= rep_lang %></a>
    </li>
  <% end %>
  <div class="tab-content">
    <% @repositories_keys.each_with_index do |rep_lang, index| %>
      <div id="<%= rep_lang %>-lang" class="tab-pane fade <%= index == 0 ? 'show active' : '' %>" role="tabpanel" aria-labelledby="<%= rep_lang %>l-tab">
      <table class="table table-hover">
        <thead>
          <tr>
            <th colspan="3"><%= I18n.t('table.name')%></th>
            <th colspan="3"><%= I18n.t('table.owner') %></th>
            <th colspan="3"><%= I18n.t('table.stars')%></th>
            <th colspan="3"><%= I18n.t('table.description') %></th>
            <th colspan="3"><%= I18n.t('table.last_update') %></th>
          </tr>
        </thead>
        <tbody>
          <% @repositories[rep_lang][0..4].map do |item| %>
            <tr>
              <td colspan="3"><%= item.full_name %></td>
              <td colspan="3"><%= item.owner %></td>
              <td colspan="3"><%= item.stars %></td>
              <td colspan="3"><%= item.description %></td>
              <td colspan="3"><%= item.last_update.strftime("%m/%Y")%>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
    <% end %>
  </div>
</ul>
